<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/registration.css">
    <title>Регистрация</title>
</head>
<body>
    <div class="background">
        <div class="image">
            <img src="../images/background-index.png" width="50%" height="100%">
        </div>
        <div class="effects">
            <div class="pink-blick"></div>
            <div class="purple-blick"></div>
            <div class="angle-blick"></div>
        </div>
    </div>
    <div class="auth">
        <section class="auth-conteiner">
            <h1>РЕГИСТРАЦИЯ</h1>
            <form action="/register" method="post">
                <div class="auth-block">
                    <form method="post" action="/register">
                        <input name="username" placeholder="Введите ваш логин" type="text" required class="password-check">
                        <input name="pass" placeholder="Введите ваш пароль" type="password" required class="password-check">
                        <input name="pass_confirm" placeholder="Введите ваш пароль ещё раз" type="password" required class="password-check"> 
                        <input name="email" placeholder="Введите вашу почту" type="email" required class="login">
                        <div class="links-block">
                            <a href="#" class="forgot-password">Забыли пароль?</a>
                            <a href="/" class="no-account">Есть аккаунт? Авторизуйтесь!</a>
                        </div>
                        <button type="submit"><img src="../images/goin.png"></button>
                    </form>
                </div>
            </form>
        </section>
    </div>
</body>
</html>