<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
            width: 100px;
            height: 75px;
        }
    </style>
</head>
<body>
    {% for item in playlist %}
        <h1>{{item.name}}</h1>
        <p>Описание: {{item.description}}</p>
        <p>Автор: {{item.author}}</p>
        <img src="{{item.avatar_path}}" alt="аватарка плейлиста"> <br>
        <a href="/playlist_add-music/{{item.id}}">Добавить треки в плейлист</a>
    {% endfor %}
    <h1>Треки</h1>
    {% for key, item in tracks%}
        <img src=/{{key.avatar}} alt="картинка трека">
        <p> Автор: {{key.composer}} </p>
        <p> Композиция: {{key.composition}} </p>
        {% for id in playlist %}
            <p><a href="/delete_track_from_playlist/{{key.id}}/{{id.id}}" style="color: red;">Удалить из плейлиста</a></p>
        {% endfor %}
        <audio controls>
            <source src="/{{key.track}}" type="audio/mpeg">
        </audio> <br>
    {% endfor %}
    {% for item in playlist %}
    <a href="/delete_playlist/{{item.id}}" style="color: red;">Удалить плейлист</a>
    {% endfor %}
</body>
</html>