<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Плеер</title>
    <style>
        img {
            width: 100px;
            height: 75px;
        }
    </style>
</head>

<body>
    <h1>Я плеер!!</h1>
    <form action="/mapping" method="post">

        <input type="hidden" value="{{id}}" name="id">
        {% for item in data%}
        <input type="checkbox" name="track" value="{{item.id}}">
        <img src=/{{item.avatar}} alt="картитнка">
        <p> Автор: {{item.composer}} </p>
        <p> Композиция: {{item.composition}} </p>
        <audio controls>
            <source src="/{{item.track}}" type="audio/mpeg">
        </audio> <br>
        {% endfor %}
        <input type="submit" value="Отправить">
    </form>
</body>

</html>