<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/playlist-page.css">
    <title>Document</title>
</head>

<body>
    <section class="effects">
        <div class="pink-blick-1"></div>
        <div class="pink-blick-2"></div>
    </section>
    <div class="menu">
        <a class="title" href="/player">Rutify</a>
        <div class="nav-block">
            <form method="" action="">
                <input class="search" required>
            </form>
            <button class="/logout">Выход</button>
        </div>
    </div>
    <div class="compositions">
        <div class="first-block">
            {% for item in playlist %}
            <div class="wrapper">
                <div class="right">
                    <img src="{{item.avatar_path}}" alt="аватарка плейлиста">
                </div>
                <div class="left">
                    <h1>{{item.name}}</h1>
                    <p class="text">Описание: {{item.description}}</p>
                    <p class="text">Автор: {{item.author}}</p>
                </div>
            </div>
            {% endfor %}
            {% for key, item in tracks %}
            <div class="composition">
                <div class="info">
                    <div class="composition-image"> <img src=/{{key.avatar}} alt="картитнка"></div>
                    <div class="name-block">
                        <h1 class="composition-name">{{key.composition}}</h1>
                        <h2 class="singer">{{key.composer}}</h2>
                    </div>
                    <audio controls class="d">
                        <source src="/{{key.track}}" type="audio/mpeg">
                    </audio> <br>
                </div>
                <div>
                    <div class="add">
                        {% for id in playlist %}
                        <a href="/delete_track_from_playlist/{{key.id}}/{{id.id}}"><img class="trash"
                                src="../images/trash.png" alt=""></a>
                        {% endfor %}
                    </div>
                </div>

            </div>
            {% endfor %}
            {% for item in playlist %}
            <a class="choise-composition" href="/delete_playlist/{{item.id}}">Удалить плейлист</a> <br>
            <a class="choise-composition" href="/playlist_add-music/{{item.id}}">Добавить треки в плейлист</a>
            {% endfor %}


        </div>

    </div>
    <!-- <section class="music-bar">
                <div class="mix"></div>
                <div class="back"></div>
                <div class="play-buttom"></div>
                <div class="next"></div>
                <div class="like"></div>
        </section> -->

</body>

</html>